<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dwv9umye9/image/upload/v1567739551/yyfsbxizjjrp5cizpaki.jpg"  />
  <title>Hotel Altomatik</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>