.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #003580;
  /* padding: .6em 0; */
  /* color: white; */
  /* margin: 0; */
  height: 70px;
}
